
@media (max-width:1320px) {
    .big-box {
        flex-direction: column;
        justify-content: center;
    }
    .left-box {
        margin: 50px auto;
    }
    .right-box {
        margin: 0 auto;
    }
}
@media (max-width: 1260px) {
    .bottom-container .block {
        width: 48%;
        margin: 30px auto;
        justify-content: space-evenly;
    }
} 
@media (max-width:1220px) {
    .bottom-container {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
}    
@media (max-width: 1180px) {
    .nav-ul {
        display: none;
    }
    .fa-bars {
        display: block;
        margin-right: 30px;
    }
}
@media (max-width: 1000px) {
    .container-wrapper {
        height: auto;
    }
}
@media (max-width: 1000px) {
    .bottom-container {
        flex-direction: column;
        justify-content: center;
        height: auto;
    }
}
@media (max-width: 1000px) {
    .bottom-container .block {
        width: 50%;
        margin: 30px auto;
        justify-content: space-evenly;
    }
} 
@media (max-width: 810px) {
    .container-wrapper {
        height: auto;
    }
}
@media (max-width:810px) {
    .bottom-container {
        height: auto;
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width: 810px) {
    .bottom-container .block {
        width: 100%
        
    }
} 
@media (max-width:670px) {
    .right-box {
        width: 501px;
        height: 290px;
        margin: 0 auto;
    }
    .image-block {
        width: 501px;
        height: 290px;
        margin: 0 auto;
    }
}
@media (max-width:670px) {
    .right-box {
        width: 471px;
        height: 270px;
        margin: 0 auto;
    }
    .image-block {
        width: 471px;
        height: 270px;
        margin: 0 auto;
    }
}
@media (max-width:670px) {
    .main-title {
        font-size: 40px;
    }
    .left-box-text {
        font-size: 16px;
    }
}
@media (max-width:700px) {
    .top-container {
        flex-direction: column;
    }
}